/* Globalni stilovi */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    font-size: 18px; /* Povećanje osnovne veličine fonta */
}

header {
    background-color: #1e3a5f; /* Tamnoplava boja */
    color: white;
    text-align: center;
    padding: 1em 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px; /* Povećanje veličine fonta u navigaciji */
}

h1 {
    margin: 20px 0;
    font-size: 70px; /* Povećanje veličine naslova */
    color: #1e3a5f;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace; /* Zanimljiviji font */
    text-align: center;
}

/* Sekcije */
main {
    padding: 20px;
}

section {
    margin: 40px 0;
}

h2 {
    color: #1e3a5f; /* Tamnoplava boja */
    font-size: 32px; /* Povećanje veličine podnaslova */
    text-align: center;
}

h4 {
    color: #1e3a5f; /* Tamnoplava boja */
    font-size: 32px; /* Povećanje veličine podnaslova */
    align-items: center;
}


/* Stilovi za usluge */
.service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;
    max-width: 800px;
    border: 2px solid #1e3a5f; /* Tamnoplavi obrub */
    border-radius: 10px;
    padding: 20px;
    background-color: #e8f4fa; /* Svijetloplava pozadina */
}

.service:nth-child(even) {
    flex-direction: row-reverse;
    background-color: #f0f8ff; /* Svijetlija plava pozadina za parne redove */
}

.service h3 {
    color: #2c6fbb; /* Svjetloplava boja */
    font-size: 26px;
    margin-top: 10px; /* Razmak ispod naslova */
    margin-right: 10px;
}

.service p {
    font-size: 18px;
    margin-top: 10px; /* Razmak iznad opisa usluge */
    line-height: 1.6;
}

.service-info {
    text-align: left;
}

.service img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin: 0 20px;
}

/* Footer */
footer {
    background-color: #1e3a5f; /* Tamnoplava boja */
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}

/* Stilovi za kontakt sekciju */
#contact {
    background-color: #e8f4fa;
    border: 2px solid #1e3a5f;
    border-radius: 10px;
    padding: 20px;
    margin: 40px auto;
    max-width: 600px;
    text-align: center;
    font-size: 20px;
}

#contact h2 {
    font-size: 24px;
    color: #1e3a5f;
    text-align: center;
}

#contact p {
    margin: 10px 0;
}

#contact .phone-icon {
    font-size: 50px;
    color: #2c6fbb;
    margin-bottom: 20px;
}

/* Stilizacija za sekciju Dobrodošli */
#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}

#intro h2 {
    margin-bottom: 20px;
}

#intro p {
    margin-bottom: 40px;
    font-size: 20px;
    color: #555;
}

/* Stilizacija za mapu */
.responsive-map {
    position: relative;
    padding-bottom: 40%; /* Omjer slike za manju visinu */
    height: 0;
    overflow: hidden;
}

.responsive-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


/* Media Queries za responzivnost */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px 0;
    }

    .service {
        flex-direction: column;
    }

    .service:nth-child(even) {
        flex-direction: column;
    }

    .service img {
        margin: 20px 0;
        width: 100%;
    }

    .service-info {
        text-align: center;
    }

    #intro {
        padding: 20px;
    }

    .about-info {
        padding: 20px;
    }
}

/* Klasa za ograničavanje širine sadržaja u sekciji */
.content-container {
    max-width: 800px; /* Maksimalna širina sekcije */
    margin: 0 auto; /* Centriranje sekcije */
    padding: 20px; /* Unutarnji razmak sa svih strana */
}

@media (max-width: 480px) {
    h1 {
        font-size: 42px; /* Povećanje veličine naslova za manje ekrane */
    }

    header nav ul li a {
        font-size: 18px; /* Povećanje veličine fonta u navigaciji za manje ekrane */
    }

    h2 {
        font-size: 24px; /* Povećanje veličine podnaslova za manje ekrane */
    }

    h3 {
        font-size: 22px; /* Povećanje veličine naslova usluga za manje ekrane */
    }

    p {
        font-size: 16px; /* Povećanje veličine paragrafa za manje ekrane */
    }

    #contact {
        font-size: 18px;
    }

    #contact .phone-icon {
        font-size: 40px;
    }
}
